.sessions-chart {
  @include chart(relative, $color-primary);
  &__title {
    position: absolute;
    width: 150px;
    top: 29px;
    left: 34px;
    color: rgba(255, 255, 255, 0.5);
  }
  .recharts-surface {
    border-radius: 5px;
  }
}
