.dash-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 68px 0 86px;
  header {
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
    min-width: 835px;
    max-width: 1124px;
    width: 90%;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    min-width: 835px;
    max-width: 1124px;
    width: 90%;
  }
}

.dash-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-bottom: 77px;
  line-height: 24px;
  &-greetings {
    width: 835px;
    font-size: 48px;
    margin-bottom: 41px;
    &__name {
      color: $color-septenary;
    }
  }
  p {
    width: 835px;
    font-size: 18px;
    font-weight: 400;
  }
}

.dash-header-hidden {
  flex: 1 1 258px;
}

.dash-charts {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 30px;
  &__group {
    display: flex;
    gap: 30px;
  }
}
