.recharts-layer:focus,
.recharts-surface:focus,
.recharts-sector:focus {
  outline: unset;
}

.score-chart {
  @include chart($color-secondary);
  &__title {
    position: absolute;
    top: 24px;
    left: 30px;
    color: $color-senary;
  }
}
