.info-card {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 32px;
  width: 258px;
  height: 124px;
  gap: 24px;
  background-color: $color-secondary;
  border-radius: 5px;
  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 6px;
  }
  &__details {
    font-size: 14px;
    color: $color-quinary;
    :first-child {
      margin-bottom: 2px;
      font-size: 20px;
      color: $color-tertiary;
      font-weight: bold;
    }
  }
  &--hidden {
    width: 258px;
  }
}
