.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 91px);
  padding-left: 117px;
  h1 {
    font-size: 96px;
    line-height: 96px;
    color: red;
  }
  p {
    margin-top: 20px;
    font-size: 24px;
  }
}
